//==============================================================================

// Title:
// Base Styles

// Description:
// Base styling used through out the site, not tied to
// specific pages or components.

//==============================================================================

img
video
  max-width 100%
  height auto
  width auto // ^ie8
  vertical-align top

.clearfix:before
.clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.clearfix
  *zoom 1

.no-margin-right
  margin-right 0px !important

img.alignleft
  float left
  margin-right 15px

img.alignright
  float right
  margin-left 15px