//========================================================

// Project Title

// INDEX:

//  1 - MResponsive Variables
//  2 - Colours
//  3 - Generic Elements/Classes


//==============================================================================
//  1 - Responsive Variables
//==============================================================================

$mediaMobile = "screen and (max-width:420px)"
$mediaMobileRetina = "screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:640px)"
$mediaTablet = "screen and (min-width:421px) and (max-width: 770px)"
$mediaTabletRetina = "screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:421px) and (max-width: 770px)"
$mediaMobileAndTablet = "screen and (max-width: 770px)"
$mediaDesktop = "screen and (min-width:771px)"
$mediaRetina = "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
$mediaDesktopAndTablet = "screen and (min-width:421px)"
$mediaMobileAndTabletRetina = "(-webkit-min-device-pixel-ratio: 2) and (max-width:770px)"
$mediaDesktopRetina = "(-webkit-min-device-pixel-ratio: 2) and (min-width:771px)"

//==============================================================================
//  2 - Colours
//==============================================================================

$brandBlack = #2d2d2d
$brandWhite = #fbfbfb
$brandGrey = #dadfe0
$brandRed = #f96e6a
$brandGreen = #22b573
$brandBlue = #29abe2

//==============================================================================
//  2 - Generic Elements/Classes
//==============================================================================

body
html
  height 100%
  margin 0
  padding 0
  background-color $brandWhite

img
video
  max-width 100%
  height auto
  width auto // ^ie8
  vertical-align top

.clearfix:before
.clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.clearfix
  *zoom 1

.no-margin-right
  margin-right 0px !important

img.alignleft
  float left
  margin-right 15px

img.alignright
  float right
  margin-left 15px

.float_right
  float right

.float_left
  float left
