//==============================================================================

// Title:
// Forms

// Description:
// Base styling for input forms.

//==============================================================================

.input-clear
  outline 0
  border 0px
  background transparent

.list-no-style
  list-style-type none
  margin 0
  padding 0

.form-err
  display none