//==============================================================================

// Title:
// Stylus Variables

// Description:
// Site wide variables

// Content Index:
// 01 - Media queries
// 02 - Colours

//==============================================================================

//------------------------------------------------------------------------------
// 01 - Media queries
//------------------------------------------------------------------------------

$mediaMobile = "screen and (max-width: 500px)"
$mediaTablet = "screen and (min-width: 500px)"
$mediaDesktop = "screen and (min-width: 800px)"
$mediaRetina = "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

//------------------------------------------------------------------------------
// 02 - Colours
//------------------------------------------------------------------------------