$mediaPalm = "(max-width: 480px)"
$mediaLap = "(min-width: 481px) and (max-width: 979px)"
$mediaDesktop = "(min-width: 980px)"
$mediaRetina = "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"