@import 'nib'

@import './mixins.styl'

@import './foundation/variables.styl'
@import './foundation/base.styl'
@import './foundation/typography.styl'
@import './foundation/structure.styl'
@import './foundation/btns.styl'
@import './foundation/forms.styl'

@import './components/header.styl'
@import './components/footer.styl'

@import './layout/home.styl'

@import './foundation/helpers.styl'