h1
  text-align center


.email_link
  display block
  color $brandBlue
  text-decoration none
  width 100%

@media $mediaDesktop
  h1
    margin-top 25%

  a.down_arrow
    width 62px
    height 61px
    display block
    background-image url('/assets/img/down_arrow.png')
    margin 140px auto 0 auto
    opacity 0.5
    transition all 0.2s
    &:hover
      opacity 1
      cursor pointer
      margin-top 130px

  .email_link
    font-size 3em
    box-sizing border-box
    padding 20px
    margin-top 40px
    transition all 0.2s
    text-align center
    &:hover
      background-color lighten($brandBlack, 5%)
      color lighten($brandBlue, 20%)

@media $mediaMobile
  .email_link
    font-size 1.6em
    margin 20px 0