extends layout
block content
  .page_section.bg-dark
    .page_wrap.home
      h1 We believe in clean, simple, striking websites
      a.down_arrow

  .page_section.color-red.section-border
    .page_wrap
      .content_wrapper.float_left
        h2 User Stories

        summary.
          We begin our creative process by asking three fundamental questions about 
          the project: What does it need to look like, who will be using it, and what 
          will they be using it for?

        p.
          We believe that understanding the user is the most fundamental place to 
          start when designing and building a great website. The way we go about 
          this is by devising user stories - we take into consideration everything 
          that the user needs to be able to achieve when using the product, and then 
          use this as the basis for designing both the layout and architecture of 
          the project.

  .page_section.bg-grey.color-red
    .page_wrap
      .content_wrapper.float_right
        h2 Rapid Prototyping

        summary.
          At the very start of the process, we often use rapid prototyping to figure 
          out the best way to design & build a feature. A visual design might look 
          great, but is it easy to use?

        p.
          Rapid Prototyping is the process of quickly mocking up a feature or 
          specific area of functionality, then validating it by testing it with 
          some users to make sure that is intuitive.Once we've determined which 
          one works the best, then we refine it and polish up the design in finer 
          detail.

  .page_section.color-green.section-border
    .page_wrap
      .content_wrapper.float_left
        h2 Responsive Development

        summary.
          We adopt the 'mobile first' approach to front-end development. The 
          mobile version of the site will be design and built first, and media 
          queries will be used to detect the width of the screen being used, 
          hether mobile, tablet, laptop or desktop.

        p.
          The main benefit to this approach is that it is more future proof; it 
          does not rely on specific devices to function. For example, if a new 
          device is released with an unusual screen ratio, the layout will adjust 
          itself accordingly without any extra development required.

  .page_section.bg-grey.color-green
    .page_wrap
      .content_wrapper.float_left
        h2 Graceful Degradation

        summary.
         Around 90% of the internet is seen on modern, up to date browsers.

        p.
          So this is where we start. We want our websites to look and feel as 
          polished as possible for the majority of users. We focus on the modern 
          browsers first, and then make sure that the site still holds up on the 
          older browsers, minus the bells & whistles.

  .page_section.bg-dark.color-green
    .page_wrap
      .content_wrapper.float_right
        h2 A Strong Architecture

        summary.
          Around 90% of the internet is seen on modern, up to date browsers.

        p.
          COPY So this is where we start. We want our websites to look and feel as 
          polished as possible for the majority of users. We focus on the modern 
          browsers first, and then make sure that the site still holds up on the 
          older browsers, minus the bells & whistles.

  .page_section.color-blue.section-border
    .page_wrap
      .content_wrapper.float_left
        h2 Readability

        summary.
          Content should always be inviting.

        p.
          Considering the breadth of devices available to our users, making sure 
          that typography is easy to read at all times is a hugely important 
          factor for a successful website. We set our type in 'ems' so it scales 
          correctly on every device, and we think about type size logically, and 
          test on as many devices as possible to make sure that everything looks 
          perfect across the board.

  .page_section.bg-grey.color-blue
    .page_wrap
      .content_wrapper.float_right
        h2 All About The Details
        summary.
          Once we've got all of the fundamentals wrapped up, we focus on the small, 
          humanising details that really bring a website to life.

        p.
          We're talking about beautiful iconography, organic interactions, elegant 
          page transitions and so on. These details are the elements that give a 
          project personality and engagement, they need to be well thought out, 
          unobtrusive, and above all, simple

  .page_section.bg-dark.color-blue
    .page_wrap
      .centred_content_wrapper
        h2 Like What You See?

        summary.
          COPY Once we've got all of the fundamentals wrapped up, we focus on the small, 
          humanising details that really bring a website to life.

      a.email_link(href='mailto:contact@synthmedia.co.uk').
        contact@synthmedia.co.uk